# BlueJ
*.ctxt
*.bluej
*.class
/doc

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Linux
*~

# Maven
log/
target/

# Dev Preference
src/main/java/com/alexwendland/schoolloop/Driver.java
